[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
flask = "*"
pylint = "*"
image = "*"
pillow = "*"
opencv-python = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pyserial = "*"
"pynmea2" = "*"
requests = "*"
pyfcm = "*"
numpy = "==1.11.*"
tensorflow = "==1.1.0"
scikit-learn = "*"
scipy = "*"
#"c0a73bc" = {path = "./tensorflow-1.1.0-cp34-cp34m-linux_armv7l.whl"}

[dev-packages]
#scikit-image = "*"
#imgaug = "*"
